<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Controller\Adminhtml\Product\Save">
        <plugin name="save_product_name" type="CustomProductIndexer\Product\Plugin\IndexProductName" sortOrder="2" disabled="false"/>
    </type>
</config>
